p {
  font-family: Lato;
}

.component-list {
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
  list-style-type: none;
  text-align: center;
  width: 15vw;
  padding: 0;
  border-radius: 5px;
}

.component-list li {
  padding: 10px 10px;
}

.component-list li:hover {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.component-list :first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px transparent;
}

.component-list :last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px transparent;
}

.component-area {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
  width: 20vw;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
